<div class='row row--fluid row--cookie-compliance js-cookie-compliance is-closed'>
<div class='wv--split--left cookie-msg'>
<p class='cookie-text'>
<strong>
Hi there,
</strong>
we use cookies to improve your experience on our website. You can
<a class='cookie-link' href='http://www.lonelyplanet.com/legal/cookies'>
update your settings
</a>
by clicking the Cookie Policy link at the bottom of the page.
</p>
</div>
<div class='wv--split--right cookie-buttons'>
<div class='btn btn--slim btn--green js-close'>
No worries
</div>
<a class='btn btn--slim btn--grey' href='http://www.lonelyplanet.com/legal/cookies/'>
Learn more
</a>
</div>
</div>

<div aria-label='Page quick links' class='accessibility'>
<a class='go' href='#container'>
go to content
</a>
<a class='go' href='#search-box'>
go to search box
</a>
<a class='go' href='#global-nav'>
go to global site navigation
</a>
</div>

